.cuato-runner-indicator {
    position: fixed;
    z-index: 99999;
    width: 100%;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}

.cuato-runner-indicator .cauto-runner-bars {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    width: 100%;
    bottom: 0;
} 
.cuato-runner-indicator .cauto-runner-bars .cauto-bar {
    height: 5px;
    background-color: #CCC;
    margin: 3px;
}


.cauto-runner-bars .cauto-bar.passed{
    background-color: green;
}

.cauto-runner-bars .cauto-bar.failed {
    background-color: red;
}

#cauto-stop-runner {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
}


/* gradient loader */

.cauto_bar_loader {
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: cauto_placeHolderShimmer;
    animation-timing-function: linear;
    background: #CCC;
    background: linear-gradient(to right, #fa9866 8%, #f25405 38%, #fa9866 54%);
    background-size: 1000px 640px;
    position: relative;
    
}


.cauto-runner-completed {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    max-width: 600px;
    height: calc(100vh - 100px);
    display: none;
}

.cauto-runner-completed h3 {
    font-size: 40px;
    line-height: 40px;
    margin-top: 0;
    font-weight: bold;
    font-family: inherit;
    margin-bottom: 20px;
}

.cauto-runner-completed h3.passed {
    color: green;
}

.cauto-runner-completed h3.failed {
    color: red;
}

.cauto-runner-completed p {
    margin: 25px 0 0 0;
}

.cauto-runner-completed p input {
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
    padding: 7px 15px;
    border: 1px solid #f25405;
    border-radius: 100px;
    font-size: 14px;
    line-height: 18px;
    color: #f25405;
    background-color: white;
    cursor: pointer;
}
.cauto-runner-completed p input:disabled {
    opacity: 0.5;
    cursor: default;
}

.cauto-runner-completed p input:last-child {
    margin-right: 0;
}

.cauto-runner-completed p input.primary {
    background-color: #f25405;
    color: white;
}

.cauto-completed-content .result {
    text-align: left;
    height: calc(100vh - 220px);
    overflow-y: auto;
}

.cauto-completed-content .result ul {
    margin: 0;
    padding: 0;
}

.cauto-completed-content .result ul li {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 5px;
    background-color: #f2f2f2;
    overflow: hidden;
    margin-bottom: 15px;
}

.cauto-completed-content .result ul li div.status {
    display: inline-block;
    width: 5%;
    vertical-align: top;
    position: relative;
    padding: 20px;
}

.cauto-completed-content .result ul li div.meta {
    display: inline-block;
    vertical-align: top;
    width: 95%;
    padding: 15px;
}

.cauto-completed-content .result ul li div.meta span.message {
    font-size: 13px;
    color: #919191;
}

.cauto-completed-content .result ul li div.meta span.failed {
    color: red;
}

.cauto-completed-content .result ul li div.meta span {
    display: block;
}

.cauto-completed-content .result ul li div.status svg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.cauto-completed-content .result ul li div.passed svg {
    width: 30px !important;
    height: 30px !important;
}

.cauto-completed-content .result ul li div.failed svg {
    width: 35px !important;
    height: 35px !important;
}

.cauto-completed-content .result ul li div.no-status svg {
    width: 35px !important;
    height: 35px !important;
}

.cauto-completed-content .result ul li div.no-status {
    background-color: #CCC;
}

.cauto-completed-content .result ul li div.passed {
    background-color: green;
}

.cauto-completed-content .result ul li div.failed {
    background-color: red;
}

@keyframes cauto_placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}