.cuato-runner-indicator {
    position: fixed;
    z-index: 99999;
    width: 100%;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}

.cuato-runner-indicator .cauto-runner-bars {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;*/
    position: absolute;
    width: 100%;
    bottom: 0;
} 
.cuato-runner-indicator .cauto-runner-bars .cauto-bar {
    height: 5px;
    background-color: #CCC;
    margin: 3px;
}


.cauto-runner-bars .cauto-bar.passed{
    background-color: green;
}

.cauto-runner-bars .cauto-bar.failed {
    background-color: red;
}

#cauto-stop-runner {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
}


/* gradient loader */

.cauto_bar_loader {
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: cauto_placeHolderShimmer;
    animation-timing-function: linear;
    background: #CCC;
    background: linear-gradient(to right, #fa9866 8%, #f25405 38%, #fa9866 54%);
    background-size: 1000px 640px;
    position: relative;
    
}

@keyframes cauto_placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}