.cauto-icon {
    height: 20px;
    width: 20px;
}
.cauto-icon-start:after {
    content: url('start.svg');
}
.cauto-icon-click:after {
    content: url('click.svg');
}
.cauto-icon-hover:after {
    content: url('hover.svg');
}
.cauto-icon-text:after {
    content: url('set-text.svg');
}
.cauto-icon-select:after {
    content: url('select.svg');
}
.cauto-icon-reload:after {
    content: url('reload.svg');
}
.cauto-icon-page-title:after {
    content: url('page-title.svg');
}
.cauto-icon-check-text:after {
    content: url('check-text.svg');
}
.cauto-icon-check-attribute:after {
    content: url('check-attribute.svg');
}
.cauto-icon-check-visibility:after {
    content: url('check-visibilty.svg');
}
.cauto-icon-check-value:after {
    content: url('check-value.svg');
}
.cauto-icon-delay:after {
    content: url('delay.svg');
}
.cauto-icon-wait-for:after {
    content: url('wait-for.svg');
}
.cauto-icon-check-data:after {
    content: url('check-data.svg');
}
.cauto-icon-store-element-data:after {
    content: url('store-element-data.svg');
}
.cauto-icon-store-data:after {
    content: url('store-data.svg');
}
.cauto-icon-manual:after {
    content: url('manual-input.svg');
}
.cauto-icon-element-count:after {
    content: url('check-element-count.svg');
}
.cauto-icon-event-scroll:after {
    content: url('scroll.svg');
}
.cauto-icon-send-keys:after {
    content: url('send-keys.svg');
}
.cauto-icon-empty-field:after {
    content: url('backspace.svg');
}